<!-- start favicons snippet, use https://realfavicongenerator.net/ -->


<link rel="apple-touch-icon" sizes="180x180" href="http://myblog.beifengli.top/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="http://myblog.beifengli.top/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="http://myblog.beifengli.top/assets/favicon-16x16.png">
<link rel="manifest" href="http://myblog.beifengli.top/assets/site.webmanifest">
<link rel="shortcut icon" href="http://myblog.beifengli.top/assets/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="http://myblog.beifengli.top/assets/browserconfig.xml">
<meta name="theme-color" content="#ffffff">


<!-- end favicons snippet -->
